.section-01 {
    position: relative;
    width: 100%;
    height: 93vh;
    /* 화면의 높이에 맞춰 섹션 크기 설정 */
    padding: 0px 0px;
    /* 패딩을 제거하여 전체 화면을 차지하도록 설정 */
    background-color: white;
    /* 기본 배경색 */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.view-projects-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.view-projects-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* 모바일 화면을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .section-01 {
        height: 50vh; /* 모바일 화면에서 높이를 화면의 절반으로 설정 */
    }
}
